<?xml version="1.0" encoding="UTF-8"?>
<xml>
	<navigation>
		<block title="Getting Started">
			<item url="/x/instalacion/" resource="install.xml">Instalación</item>
			<item url="/x/configuracion-inicial/" resource="intro.xml">Configuración inicial</item>
			<item url="/x/directorios/" resource="directories.xml">Estructura de directorios</item>
		</block>

		<block title="Configuración">
			<item class="first" url="/x/conf/sistema/" resource="conf-system.xml">Sistema</item>
			<item url="/x/conf/modulos/" resource="conf-module.xml">Modulos</item>
		</block>
	</navigation>
</xml>